extends ../layout

block content

	.container#partialHeader

		div.row.jumbotron#answers
			
			.fieldset
				form#answerPrompt(validate name="dreamForm")
					.row
						
						.col-md-6
							h3 What are your dreams for the future?

							textarea#answerFuture(autofocus, required, maxlength='250', cols="100" name='answerFuture', placeholder='Voice your dreams...').col-xs-12 #{answerFuture}
							div#futureAlert.alert-danger.alert Make sure to share your dreams!
							p.countdown You have 
								input#countdownFuture(readonly,type="text",name="countdownFuture",size="3",value="250")
								|  characters remaining
						.col-md-6
							h3 How can we make a better world?

							textarea#answerGoals(required, maxlength='150', cols="100" name='answerGoals', placeholder='Voice our goals...').col-xs-12 #{answerGoals}
							div#goalsAlert.alert-danger.alert Make sure to share your goals!

							p.countdown You have
								input#countdownGoals(readonly,type="text",name="countdownGoals",size="3",value="150")
								|  characters remaining
							br
					.row
						button#addAnswer.btn.btn-primary.btn-lg.pull-left Submit Answers
						//-button#clearAnswer.btn.btn-success.btn-lg.pull-left Clear Form
						//- a#seeAnswers.btn.btn-default.pull-right(href='/seeanswers') See All Answers
						//- div#success.alert-success.alert.hide Your question has been successfully submitted. Ask another question!

		#answerRepo	
			#geoChart
			

	//- #chart_div

	//- .container
	//- 	div.row-fluid.jumbotron#splash
	//- 		#questionRepo
