extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#answers
			.fieldset
				form#answerPrompt(validate name="dreamForm")
					h3 What are your dreams for the future?

					textarea#answerFuture(required, maxlength='500', cols="100" name='answerFuture', placeholder='Voice your dreams...').col-xs-12
					div#futureAlert.alert-danger.alert Make sure to share your dreams!
					p.countdown You have 
						input#countdownFuture(readonly,type="text",name="countdownFuture",size="3",value="300")
						|  characters remaining
					br
					h3 What goals do you think we should be working on to make a better world?

					textarea#answerGoals(required, maxlength='200', cols="100" name='answerGoals', placeholder='Voice our goals...').col-xs-12
					div#goalsAlert.alert-danger.alert Make sure to share your goals!

					p.countdown You have
						input#countdownGoals(readonly,type="text",name="countdownGoals",size="3",value="150")
						|  characters remaining
					br
					button#addAnswer.btn.btn-primary.pull-right Submit Answers
					a#seeAnswers.btn.btn-default.pull-right(href='/seeanswers') See All Answers
					div#success.alert-success.alert.hide Your question has been successfully submitted. Ask another question!

		#answerRepo	
			#geoChart
			

	//- #chart_div

	//- .container
	//- 	div.row-fluid.jumbotron#splash
	//- 		#questionRepo
