extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#answers
			.fieldset
				form#answerPrompt(name="dreamForm")
					p.lead What are your dreams for the future?
					textarea#answerFuture.form-group(type='email', maxlength='500', cols="100" name='answerFuture', required, placeholder='Voice your dreams...').col-xs-12
					p.countdown You have 
						input#countdownFuture(readonly,type="text",name="countdownFuture",size="3",value="500")
						|  characters remaining
					br
					p.lead What goals do you think we should be working on to make a better world?
					textarea#answerGoals.form-group(type='email', maxlength='200', cols="100" name='answerGoals', required, placeholder='Voice our goals...').col-xs-12
					p.countdown You have
						input#countdownGoals(readonly,type="text",name="countdownGoals",size="3",value="200")
						|  characters remaining
					br
					button#addAnswer.btn.btn-primary.pull-right Submit Answers
					a#seeAnswers.btn.btn-default.pull-right(href='/seeanswers') See All Answers
					div#success.alert-success.alert.hide Your question has been successfully submitted. Ask another question!
		#answerRepo	
			#geoChart
			
	#chart_div

	//- .container
	//- 	div.row-fluid.jumbotron#splash
	//- 		#questionRepo