extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#answers
			.fieldset
				form#answerPrompt
					p.lead What are your dreams for the future?
					textarea#answerFuture.form-group(type='email', cols="100" name='answerFuture', required, placeholder='Voice your dreams...').col-xs-12
					br
					p.lead What goals do you think we should be working on to make a better world?
					textarea#answerGoals.form-group(type='email', cols="100" name='answerGoals', required, placeholder='Voice your dreams...').col-xs-12
					br
					button#addAnswer.btn.btn-primary.pull-right Submit Answers
					a#seeAnswers.btn.btn-default.pull-right(href='/seeanswers') See All Answers
					div#success.alert-success.alert.hide Your question has been successfully submitted. Ask another question!
			#geoChart
			
	#chart_div

	//- .container
	//- 	div.row-fluid.jumbotron#splash
	//- 		#questionRepo