extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#splash
			h2#titleBody you better
			p#textBody you can break paragraphs up to make it easier to read in your jade files.
				| make sure to use a single pipe and indent off the paragraph body
				

