extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#splash
			h1#titleBody About Us
			p#textBody RealizeChange is a crowd-sourced and crowd-funded project that provides individuals and institutional partners with the tools necessary to:
				ul(style="list-style-type: none;")
					li
						i.fa.fa-microphone
							|	amplify the voice of the people
					li 
						i.fa.fa-retweet
							| 	open lines of communication
					li 
						i.fa.fa-group
							| 	collaboratively build our shared dreams and goals
			h3#t2 Mission:
			p#t2 The mission of this project is to build an interactive, incentivized website that allows people from all walks of life to participate in a plan for the future. This project will dynamically evolve with time as its goals are better integrated and informed by participants. The website will aim to accomplish three objectives: voice peoples dreams and goals for the future, visualize and learn about the dreams of others, and incentivize collaboration and project building. 
			
			p#2 The ultimate goal of this project is to be accessible and fun for people of ALL backgrounds and to empower them to Dream and co-create an equitable and representative plan for our future. Join us on this journey.  
			
			p#2 
				span.boldText Want to get involved? 
				| This project is 100% supported by the efforts of volunteers. Email us at 
				a(mailto="realizechange13@gmail.com") realizechange13@gmail.com 
				| and Spread the word.

			a(href="http://ideas.makingallvoicescount.org/") Vote 
			| for us on Idea Scale
			p#2 If we win, 100% of the Award money will go directly into the development of RealizeChange. 
			form(action="https://www.paypal.com/cgi-bin/webscr",method="post",target="_top")
				input(type="hidden",name="cmd",value="_s-xclick")
				input(type="hidden",name="hosted_button_id",value="MZ8TYAL3NBYVJ")
				input(type="image",src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif",border="0",name="submit",alt="PayPal- The safer, easier way to pay online!")
				img(alt="",border="0",src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif",width="1",height="1")



			
			
				

