extends ../layout

block content
	.container#partialHeader
		div.row.jumbotron#splash
			h2#titleBody About Us
			p#textBody RealizeChange is a novel crowd-sourced and crowd-funded web platform that takes the next steps on our global path towards a collaborative vision for the future. RealizeChange incentivizes collaboration with games and a project pot of money to create an enriching environment for individuals from all walks of life to voice their dreams for the future and synthesize our shared goals into actionable plans.
			p#t2 Part game, part psychology experiment, the novel website structure of RealizeChange uses the latest in our technological and psychological understanding of group collaboration and goal formation to: 
				ul
					li reduce group biases, give everyone an equal say in the development of our goals
					li open the lines of communication between citizens and government
					li provide data visualization tools and access for education and accountability
					li and utilize a novel participatory budgeting paradigm to turn our shared dreams into reality.
			p#t2 This transparent access to our dreams and goals provides the needed opportunity for individuals and government partners to collaboratively work on shared goals.
			p Vote for us on 
				a(href="http://ideas.makingallvoicescount.org/") Idea Scale
				. Click on the link for more

			form(action="https://www.paypal.com/cgi-bin/webscr",method="post",target="_top")
				input(type="hidden",name="cmd",value="_s-xclick")
				input(type="hidden",name="hosted_button_id",value="MZ8TYAL3NBYVJ")
				input(type="image",src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif",border="0",name="submit",alt="PayPal- The safer, easier way to pay online!")
				img(alt="",border="0",src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif",width="1",height="1")



			
			
				

