<script id="rank-template" type="text/x-handlebars-template">

		<div id="goals">What goals do you think we should be working on to make a better world?</div>
			<div class="container">
				
				<div class="goal">{{answers.[0].answerGoals}}
					<a href="#">
						<i class="fa fa-thumbs-o-up upvote"></i>
					</a>
					<a href="#">
						<i class="fa fa-thumbs-o-down downvote"></i>
					</a>
				</div>

			</div>
			<div class="container">
	
				<div class="goal">{{answers.[1].answerGoals}}
					<a href="#">
						<i class="fa fa-thumbs-o-up upvote"></i>
					</a>
					<a href="#">
						<i class="fa fa-thumbs-o-down upvote"></i>
					</a>
				</div>

			</div>




</script>