<script id="rank-template" type="text/x-handlebars-template">

		<table id="goals">What goals do you think we should be working on to make a better world?
			<tr class="container">
				
				<td class="goal col-xs-11">{{answers.[0].answerGoals}}</td>
				<td class="vote btn col-xs-1" href="" data-id="{{answers.[0]._id}}" data-idt="{{answers.[1]._id}}">
					<i class="fa fa-thumbs-o-up"></i>
				</td>
				

			</tr>
			<tr class="container">
	
				<td class="goal col-xs-11">{{answers.[1].answerGoals}}</td>
				<td class="vote btn col-xs-1" href="#" data-id="{{answers.[1]._id}}" data-idt="{{answers.[0]._id}}">
					<i class="fa fa-thumbs-o-up"></i>
				</td>
				

			</tr>
		</table>





</script>