extends ../layout

block content
	.container
		.jumbotron#partialHeader
			div.row-fluid#splash
				.btn.btn-primary#randomize Randomize
				.btn.btn-success#alldreams Show Dreams

				#answerRepo
					
				include seeanswers.html
				
