extends ../layout

block content
	.container.jumbotron#partialHeader
		div.row-fluid#splash
			.btn.btn-default#randomize Randomize
			.btn.btn-default#alldreams Show Dreams

			#answerRepo
				
			include seeanswers.html
			
