<script id="see-answers-template" type="text/x-handlebars-template">
	{{#if filterNone}}
		<h3 id="goals">"What goals do you think we should be working on to make a better world?"</div>
		{{#each answers}}
			<p class="goal">{{this.answerGoals}}</p>
		{{/each}}

		<h3 id="dreams">"What are your dreams for the future?"</div>
		{{#each answers}}
			<p class="dream">{{this.answerFuture}}</p>
		{{/each}}
	{{else}}
		<h3 id="dreams">"What are your dreams for the future?"</div>
		{{#each answers}}
			<p class="dream">{{this.answerFuture}}</p>
		{{/each}}
	{{/if}}

</script>