<script id="see-answers-template" type="text/x-handlebars-template">
	{{#if filterNone}}

		<h4 id="dreams">What are your dreams for the future?</h4>

			<blockquote class="dream">-"{{answers.[0].answerFuture}}"</blockquote>

	{{else}}
		<h4 id="dreams">What are your dreams for the future?</h4>
		<div id="dreamers">
		{{#each answers}}
			<blockquote class="dream">-"{{this.answerFuture}}"</blockquote>

		{{/each}}
		</div>
		<button id="moreDreams" class="btn btn-default">More Dreams</button>
	{{/if}}

</script>