extends ../layout

block content
	.container
		.jumbotron#partialHeader
			h3 Check out everyone's dreams ..
			div.row-fluid#splash
				//-.btn.btn-primary#randomize Random Dream
				&nbsp;&nbsp;
				.btn.btn-success#alldreams All Dreams

				#answerRepo
					
				include seeanswers.html
				
