extends layout

block content
	.container#partialHeader
		div.row.jumbotron#splash
			
			
			if username
				if username == "login"
					p(style="color:#b94a48;") You need to login to access that page...
					a.btn.btn-success.btn-lg(href='/auth/google') Login with Google
				else
					h2 Welcome to #{title}, #{username}!
					a.btn.btn-success.btn-lg(href='/logout') Log Out
			else
				h1 #{title}
				p.lead #{subtitle}
				a.btn.btn-success.btn-lg(href='/auth/google') Login with Google
							
block modals

block pageScripts
