extends layout

block content
	.container#partialHeader
		div.row.jumbotron#splash
			
			
			if username
				if username == "login"
					p(style="color:#b94a48;") You need to login to access that page...
					a.btn.btn-default(href='/auth/google') Login with Google
				else
					h3 Welcome to #{title}, #{username}!
					a.btn.btn-default(href='/logout') Log Out
			else
				h2 #{title}
				em #{subtitle}
				br
				a.btn.btn-default(href='/auth/google') Login with Google
							
block modals

block pageScripts
