#shareme{
	margin-top: 30px;
	margin-bottom: -20px;
}
#splash{
	margin-top: 30px;
}
#partialHeader{
	margin-top: 100px;
}
.lightbox-body{
	margin:100px;
	font-size: 20px;
}
label {	
	width: 100px;
	
}
.lightbox-footer{
	margin-top:20px;
}
#chart_div{
	height:600px;
	width:800px;
}

#tooltip{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px solid #727272;
}