body { 
	background-color: rgb(13,100,130);
}

#titleBody{ 
	color :navy;
}

#textBody {	
	/*color :rgb(250,250,250);*/

}

#t2 {	
	/*color :rgb(250,250,250);*/

}


ul {
	/*padding: 8px;*/
	/*margin: 12px;*/
	line-height: 28px;
	/*color :rgb(150,150,150);*/
}

#splash {

	/*padding-top: 2px;*/
	/*color:rgb(55,55,55);*/
	/*background-color:rgb(250,250,250);*/
}