extends ../layout
  
block content
	- var code = "Code: " + error.httpStatusCode;
	- var description = JSON.stringify(error, null, 2);
	h1 Error
	h2= code
	pre
		p= description
	a(href='/')
		button Back